# ==============================
# Python
# ==============================

__pycache__/
*.pyc


# ==============================
# Virtual Environment
# ==============================

backend/venv/


# ==============================
# Environment Variables
# ==============================

backend/.env


# ==============================
# macOS Files
# ==============================

.DS_Store


# ==============================
# VS Code
# ==============================

.vscode/


# ==============================
# Logs
# ==============================

*.log